# Python
__pycache__

# Jetbrains
.idea/*

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.dpth
*.md5
*.dep
*.auxlock
*.snm
*.out
*.nav
*.toc

# Poetry
poetry.lock

comprehensive_nas/nasbowl/benchmarks/nas
