# Python
__pycache__

# Jetbrains
.idea/*

# Log files
*.out
*.err
*.log
*.json

# slurm scripts
slurm_scripts/*


# IDE related
.vscode/
.idea/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.dpth
*.md5
*.dep
*.auxlock
*.snm
*.out
*.nav
*.toc

# Poetry
poetry.lock

*.sh
*.model
*.pth
*.png
neps_examples/results
