# Python
__pycache__
dist

# Log files
*.out
*.err
*.log
*.json

# slurm scripts
slurm_scripts/*

# Documentation
site/*

# IDE related
.vscode/
.idea/

# Poetry
poetry.lock

# Misc
*.sh
*.model
*.pth
*.png

# Results
results
neps_examples/results
tests_tmpdir
usage_example
