site_name: NePS
docs_dir: docs
repo_url: https://github.com/automl/neps
repo_name: automl/neps
edit_uri: ""

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.footer
    - navigation.sections
    - toc.follow
    - toc.integrate
    - navigation.tabs
    - navigation.tabs.sticky
    - header.autohide
    - search.suggest
    - search.highlight
    - search.share
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

# We do have some extra custom css
# If for whatever reason you think this is breaking something,
# please feel free to remove it.
extra_css:
  - stylesheets/custom.css

markdown_extensions:
  - admonition
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: "#"
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
      repo_url_shorthand: true
      user: automl
      repo: neps
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

extra:
  version:
    provider: mike

extra_javascript: # Add MathJax for math rendering
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search
  - autorefs
  - gen-files:
      scripts:
        - docs/_code/api_generator.py
        - docs/_code/example_generator.py
  - literate-nav
  - mkdocstrings:
      default_handler: python
      enable_inventory: true
      handlers:
        python:
          paths: [neps]
          # Extra objects which allow for linking to external docs
          inventories:
            - 'https://docs.python.org/3/objects.inv'
            - 'https://numpy.org/doc/stable/objects.inv'
            - 'https://pandas.pydata.org/docs/objects.inv'
            - 'https://pytorch.org/docs/stable/objects.inv'
          # Please do not try to change these without having
          # looked at all of the documentation and seeing if it
          # causes the API docs to look weird anywhere.
          options:  # https://mkdocstrings.github.io/python/usage/
            docstring_section_style: spacy
            docstring_options:
              ignore_init_summary: true
              trim_doctest_flags: true
              returns_multiple_items: false
            show_docstring_attributes: true
            show_docstring_description: true
            show_root_heading: false
            show_root_toc_entry: false
            show_object_full_path: false
            show_root_members_full_path: false
            signature_crossrefs: true
            merge_init_into_class: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            docstring_style: google
            inherited_members: true
            line_length: 60
            show_if_no_docstring: false
            show_bases: true
            show_source: true
            members_order: "alphabetical"
            group_by_category: true
            show_signature: true
            separate_signature: true
            show_signature_annotations: true
            filters:
              - "!^_[^_]"



nav:
  - Home: 'index.md'
  - Getting Started: 'getting_started.md'
  - Reference:
    - Run: 'reference/neps_run.md'
    - Search Space: 'reference/pipeline_space.md'
    - Optimizer: 'reference/optimizers.md'
    - The Evaluate Function: 'reference/evaluate_pipeline.md'
    - CLI Usage: 'reference/cli.md'
    - Analysing Runs: 'reference/analyse.md'
  - Examples: "examples/"  # auto-generated
  - Algorithms:
    - Algorithms: 'reference/search_algorithms/landing_page_algo.md'
    - Multi-Fidelity Optimizers: 'reference/search_algorithms/multifidelity.md'
    - Prior Optimizers: 'reference/search_algorithms/prior.md'
    - Multi-Fidelity & Prior Optimizers: 'reference/search_algorithms/multifidelity_prior.md'
    - Bayesian Optimization: 'reference/search_algorithms/bayesian_optimization.md'
  - API: 'api/' # auto-generated
  - Contributing:
    - Dev Guide: 'dev_docs/contributing.md'
    - Roadmap: "dev_docs/roadmap.md"
  - Cite: 'citations.md'
