experiment:
  root_directory: "results/example_run"
  max_evaluations_total: 20
  overwrite_working_directory: true
  post_run_summary: true

pipeline_space:
  epochs: 5
  learning_rate:
    lower: 1e-5
    upper: 1e-1
    log: true
  num_layers:
    lower: 1
    upper: 5
  optimizer:
    choices: ["adam", "sgd"]
  num_neurons:
    lower: 64
    upper: 128

optimizer:
  name: "bayesian_optimization"
  initial_design_size: 5
  surrogate_model: gp
