name: pre-commit

# This will prevent multiple runs of the same workflow from running concurrently
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  # Trigger manually
  workflow_dispatch:

  # Trigger on any push to the master
  push:
    branches:
      - master

  # Trigger on any push to a PR that targets master
  pull_request:
    branches:
      - master

jobs:

  run-all-files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - run: pip install pre-commit
    - run: pre-commit install
    - run: pre-commit run --all-files

