name: tests
on:
  push:
    paths:
      - '**.py'
      - 'pyproject.toml'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
        exclude:
          - os: windows-latest  # Some mismatch between torch's specified numpy version and the one it was compiled against happens and will probably be resolved in the future by the torch team
            python-version: '3.10'
          - os: macos-latest  # Segmentation fault on github actions that we can not reproduce in the wild
            python-version: '3.7'
          - os: macos-latest
            python-version: '3.8'

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Temporary bugfix see https://github.com/pre-commit/pre-commit/issues/2178
      - name: Pin virtualenv version
        run: pip install virtualenv==20.10.0

      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: 1.4.1

      - name: Run poetry install
        run: poetry install

      - name: Run pytest
        timeout-minutes: 10
        run: poetry run pytest -m "all_examples or metahyper"
